.header {
  font-family: 'BmwWebli';
  margin-top: 1rem;
}

.carousel {
  position: absolute;
  font-family: 'BmwWebli';
}

.__active {
  height: 5rem;
}

span {
  cursor: pointer;
}

.none {
  display: none;
}

.grid-items {
  display: grid;
}

@media (max-width: 768px) {
  .header {
    font-size: 1rem;
  }

  .carousel {
    width: 70%;
    right: 1rem;
  }

  .normal {
    margin-top: 0.75rem;
    font-size: 1.5rem;
  }

  .selected {
    font-size: 3rem;
    margin-top: -0.25rem;
  }
}

@media (min-width: 769px) {
  .header {
    font-size: 1.75rem;
  }

  .carousel {
    width: 60%;
    right: 4rem;
  }

  .normal {
    font-size: 3.25rem;
    margin-top: 1rem;
  }

  .selected {
    font-size: 6.5rem;
    margin-top: -1rem;
  }
}
